
<% content_for :stylesheets do %>
  #header-background { display: none}
<% end %>

<% content_for :header do %>
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('<%= @header_url %>')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1><%= @article.title %></h1>
            <h2 class="subheading"><%= @article.subtitle %></h2>
            <% if @is_article %>
              <span class="meta">Posted by <a href="/link/Morgan Xiu">Morgan Xiu</a> on <%= @article.created_at %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
<!-- <article> -->


<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= markdown(@article.body)%>
      </div>
    </div>
  </div>
</article>

<!-- <%= render partial: 'comments/comment_form' %> -->


<comment>
  <p><%= @remote_ip %></p>
</comment>
