<!DOCTYPE html>
<html>

<head>

  <title>Zephyr Sails's Blog</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icons/z_150px_3.png' %>

</head>

<script src="http://s4.cnzz.com/z_stat.php?id=1256986357&web_id=1256986357" language="JavaScript"></script>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/link/Zephyr Sails">ZephyrSails</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="/list/log">Log</a>
          </li>
          <!-- <li>
            <a href="/list/lab">Lab</a>
          </li> -->
          <li>
            <a href="/list/tech">Tech</a>
          </li>
          <li>
            <a href="/list/thought">Thought</a>
          </li>
          <li>
            <a href="/list/other">Other</a>
          </li>
          <li>
            <a href="/">All</a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <style><%= yield :stylesheets %></style>
  <%= yield :header %>
  <header id="header-background" class="intro-header" style="background-image: url('<%= asset_path Settings.backgrounds.homepage %>')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Zephyr Sails<h1>
            <hr class="small">
            <span class="subheading">programmer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<%= yield %>

<!-- Footer -->
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="http://weibo.com/u/2948632367">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="/link/wechat">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/zephyrsails">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Start at 2015_10_24 / Build with Ruby & Bootstrap</p>

      </div>
    </div>
  </div>
</footer>



</body>
</html>
